.bottom-info {
	background: #6E1A81;
	margin-top: -1px
	padding: 6rem 0 2.45rem;
	position: relative
	&:before {
		content ""
		display: block;
		position: absolute;
		left: 0
		top: 0
		bottom: 0
		width: rem(741)
		background: linear-gradient(90deg, #253489 0%, rgba(110, 26, 129, 0) 100%);
	}
	
	.wrapper {
		&:before {
			content ""
			display: block;
			position: absolute;
			background: url("../images/man-1.png") no-repeat
			-webkit-background-size: cover
			background-size: cover
			width: rem(615);
			height: rem(847);
			top: -22.1rem;
			pointer-events none
			left: -20.5rem;
		}
	}
	
}

.bottom-info__wrap {
	position: relative
	z-index: 5
}

.bottom-info__column-left {
	width: 48%
	padding: 0 1.7rem;
}

.bottom-info__discount-btn {
	display: flex
	justify-content: flex-start
	margin-top: 2.7rem
}

.bottom-info__sale {
	position: absolute;
	top: -4.9rem;
	right: 9.8rem;
	width: 33.5rem;
}

.bottom-info__img {
	width: rem(435)
	margin: 0.8rem 0 0;
	position: relative
	z-index: 1
}

.bottom-info__logo {
	position: absolute;
	top: 4rem;
	right: 0.1rem;
}

.bottom-info__logo-svg {
	width: 19.38rem;
	height: 23rem;
	fill: #ffffff
	opacity: 0.1
}