.btn-cart {
	position: fixed
	cursor: pointer
	right: 2rem;
	//transform: translate(700%, 0);
	bottom: 2rem
	padding: 0.8rem 1rem
	box-sizing: border-box;
	background: #FAFF00;
	box-shadow: 0px 0px rem(10) rgba(78, 25, 88, 0.8);
	border-radius: 50%;
	width: rem(100)
	height: rem(100)
	display: flex
	overflow: hidden
	justify-content: center
	align-items: center
	z-index: 99
	transition transform 300ms ease-in-out
	&:before {
		content: '';
		position: absolute;
		width: 50%;
		height: 200%;
		left: -40%;
		top: -50%;
		z-index: 1;
		background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.702), rgba(255, 255, 255, 0));
		transform: rotate(-30deg);
	}
	&:hover{
		//transform translate(600%, 0) scale(1.1)
		&:before {
			animation-name: light;
			animation-duration: 3s;
			animation-timing-function: ease-in-out;
			animation-direction: normal;
			animation-iteration-count: infinite;
			animation-delay: .3s
		}
	}
}


@keyframes light {
	0% {
		left: -40%
	}
	30% {
		left: 140%
	}
	100% {
		left: 140%
	}
}
.shopping-bag-svg {
	width: rem(50)
	height: rem(47)
	fill: #762486
}

.top-info {
	padding: 1.8rem 0 4.95rem;
	position: relative
	background: linear-gradient(180.05deg, #702381 0.04%, #762486 42.32%, #762586 66.63%, #762682 78.59%, #843286 99.96%);
	
	&:before {
		content ""
		display: block;
		position: absolute;
		background: url("../images/girl-1.jpg") no-repeat
		-webkit-background-size: cover
		background-size: cover
		width: rem(709);
		height: rem(1195);
		top: -1.8rem;
		left: 0rem;
		opacity: 0.7
	}
}

.top-info__top-txt {
	display: flex
	justify-content: center
	align-items: center
	
	li {
		position: relative
		margin-right: rem(66)
		
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: rem(6);
			height: rem(6);
			border-radius: 50%
			background: #FAFF00;
			top: 50%
			transform translate(0, -50%)
			right: rem(-33)
		}
		
		&:last-child {
			margin-right: 0
			
			&:after {
				display: none
			}
		}
	}
	
	span {
		color: #ffffff
		font-weight: 500;
		font-size: rem(15);
		line-height: rem(18);
	}
}

.info__wrap {
	display: flex
	
	position: relative
	z-index: 5
}

.top-info__wrap {
	margin-top: 5.15rem
}

.info__column {
	width: 50%
	padding: 0 2.5rem
	position: relative
}

.top-info__img {
	width: rem(305)
	margin: 2.9rem 0 0 4.5rem;
	position: relative
	z-index: 1
}

.top-info__logo {
	position: absolute;
	top: -6.9rem;
	left: 9.4rem;
}

.top-info__logo-svg {
	width: rem(385);
	height: rem(469);
	fill: #ffffff
	opacity: 0.1
}

.top-info__title {
	p {
		font-weight: 500;
		font-size: rem(28);
		line-height: 1;
		color: #C6A6CD;
		margin-top: 0.7rem
	}
}

.top-info__price {
	display: flex
	align-items: baseline
	margin-top: 1.9rem;
}

.new-price {
	font-weight: 600;
	font-size: rem(45);
	line-height: rem(55);
	color: #FAFF00;
	margin-right: rem(10)
}

.old-price {
	font-weight: 500;
	font-size: rem(30);
	line-height: rem(37);
	text-decoration: line-through;
	color: #DA99E3;
}

.footnote {
	p {
		font-weight: 500;
		font-size: rem(15);
		line-height: rem(18);
		color: #FFFFFF;
	}
	
	span {
		color: #FAFF00;
	}
}

.info__footnote {
	margin-top: 0.6rem
}

.top-info__discount-btn {
	display: flex
	justify-content: center
	align-items: center
	margin-top: 4rem
}

.sale {
	p {
		font-weight: bold;
		font-size: rem(96);
		line-height: rem(117);
		color: #DA99E3;
		opacity: 0.2;
	}
}

.advantages__wrap {
	display: flex
	margin-top: 5.5rem
}

.advantages__column-left {
	width: 70%
	display: flex
	align-items: flex-start
}

.advantages__item {
	width: rem(160)
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);
	border-radius: 5px;
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 1.2rem 0;
	position: relative
	z-index: 5
}

.advantages__item-icon {
	width: rem(100);
	height: rem(100);
	border-radius 50%
	background: #C6A6CD;
	box-shadow: 0px 0px 10px rgba(78, 25, 88, 0.8);
	display: flex
	justify-content: center
	align-items: center
	
	img {
		width: rem(50);
		height: rem(50);
	}
}

.advantages__item-txt {
	text-align: center
	margin-top rem(16)
	width: 100%
	p {
		font-weight: 500;
		font-size: rem(18);
		line-height: rem(22);
		color: #C6A6CD;
	}
}

.advantages__item-1 {
	margin: 0 0 0 0.95rem
	animation: move-top 2s ease-in-out alternate infinite;
}

.advantages__item-2 {
	margin: 8rem 0 0 3.65rem;
	animation: move-top 2.5s ease-in-out alternate infinite;
}

.advantages__item-3 {
	margin: 4.6rem 0 0 3.75rem;
	animation: move-top 3s ease-in-out alternate infinite;
}

.advantages__item-4 {
	margin: 10.3rem 0 0 3.75rem;
	animation: move-top 3.5s ease-in-out alternate infinite;
}

.advantages__column-right {
	width: 30%
	position: relative
}

.advantages__sale {
	position: absolute;
	top: -3rem;
	right: 15.9rem;
	width: 33.5rem;
}

.advantages__img {
	width: rem(456)
	margin: -8.8rem 0 0 -1.2rem;
	position: relative
	z-index: 1
}

.bg-txt {
	p {
		font-weight: bold;
		font-size: rem(96);
		line-height: rem(117);
		color: #fff;
		opacity: 0.1
	}
}

.advantages__bg-txt {
	position: absolute
	top: 15.5rem;
	left: -2.3rem;
	width: 38.07rem;
}