@media (min-width: 768px) and (max-width: 979px) {
	
	main {
		
		overflow: hidden
	}
	
	.wrapper {
		max-width: 91%
	}
	
	.mobile-none {
		display: none
	}
	
	.desktop-none {
		display: block;
	}
	
	
	.btn-cart {
		position: fixed;
		right: 1rem;
		bottom: 1rem
		transform: translate(0%, 0);
		width: rem(70)
		height: rem(70)
	}
	
	.shopping-bag-svg {
		width: rem(35)
		height: rem(32)
	}
	
	.top-info {
		padding: 2.1rem 0 0.05rem;
			&:before {
				background-size: cover;
				width: 82.32rem;
				height: 107.44rem;
				top: -15.1rem;
				left: -22.5rem;
			}
	}
	
	.top-info__top-txt {
		display: none
	}
	
	.top-info__decor-5, .top-info__decor-6 {
		display: none
	}
	
	.info__wrap {
		width: 100%
		max-width: rem(680)
		margin: auto
		display: flex
		justify-content: center
		align-items: center
	}
	
	.top-info__wrap {
		flex-direction: column-reverse
	}
	
	.info__column {
		width: 100%;
		padding: 0;
		position: relative;
	}
	
	.top-info__title {
		text-align: center
	}
	
	
	.top-info__price {
		margin-top: 2.15rem;
		justify-content: center;
	}
	
	.info__footnote {
		margin-top: 21.1rem;
		text-align: center;
	}
	
	.top-info__column-left {
		position: absolute;
		top: 15rem;
		left: 0;
	}
	
	.top-info__img {
		width: 17.07rem;
		margin: 1.7rem auto 0;
		position: relative
		z-index: 5
	}
	
	.top-info__logo {
		position: absolute;
		top: -9.2rem;
		left: 50%;
		transform translate(-50%,0)
	}
	
	
	.top-info__discount-btn {
		margin-top: 1.3rem
	}
	
	.advantages__wrap {
		width: 100%
		max-width: rem(680)
		margin: 2.7rem auto 0
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	}
	
	.advantages__column-left {
		width: 100%
		flex-wrap: wrap
		justify-content: space-between
	}
	
	.advantages__item {
		width: 49%
	}
	
	.advantages__item-1, .advantages__item-2, .advantages__item-3, .advantages__item-4 {
		margin: 0 0 0.9rem 0
		animation: none
	}
	
	.advantages__item-txt {
		br {
			display: none
		}
	}
	
	.advantages__column-right {
		width: 100%
	}
	
	
	.advantages__sale {
		top: 1.3rem;
		right: auto;
		left: 1.1rem;
	}
	
	.advantages__img {
		width: 17.2rem;
		margin: 2.7rem auto 0;
		position: relative
		z-index: 1
	}
	
	.advantages__bg-txt {
		position: absolute
		top: 14.1rem;
		left: auto;
		right: -1.8rem;
	}
	
	
	.top-info__decor-1 {
		top: 23.3rem;
		right: 1.8rem;
	}
	
	.top-info__decor-2 {
		top: -0.7rem;
		left: -0.7rem;
	}
	
	.top-info__decor-3 {
		top: 91.4rem;
		right: auto;
		left: 2.8rem;
	}
	
	.top-info__decor-4 {
		top: 60rem;
		left: auto;
		right: -0.4rem;
	}
	
	.about-brand {
		padding: 2.6rem 0 1rem;
	}
	
	.about-brand .wrapper:before {
		display: none
	}
	
	.about-brand__wrap {
		width: 100%
		max-width: rem(680)
		margin: 0rem auto 0
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	}
	.about-brand__title{
		text-align: center
	}
	.about-brand__column-left {
		width: 100%;
		padding-left: 0;
	}
	
	.about-brand__column-right {
		display: none
	}
	
	.about-brand__txt {
		margin-top: 1.85rem;
	}
	
	.characteristics__decor-3, .characteristics__decor-4 {
		display: none
	}
	
	.characteristics__wrap {
		width: 100%
		max-width: rem(680)
		margin: 0rem auto 0
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	}
	
	.characteristics__column-left {
		width: 100%;
		padding: 0;
		.gallery__wrap {
			max-width: 40rem
			margin: auto
		}
	}
	
	.gallery__wrap {
		justify-content: space-around
	}
	
	.characteristics__column-right {
		width: 100%;
		padding-left: 0;
	}
	
	.characteristics__title {
		margin-top: 1.8rem;
	}
	
	.characteristics__table {
		margin-top: 1.05rem;
	}
	.characteristics__table-line {
	
	}
	
	.product {
		padding: 2.1rem 0 2.3rem;
	}
	
	.product__wrap {
		width: 100%
		max-width: rem(680)
		margin: 0rem auto 0
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	}
	.product__title{
		text-align: center
	}
	.product__column-left {
		width: 100%;
		padding-left: 0;
	}
	
	.product__txt {
		margin-top: 1.25rem;
	}
	
	.product__price {
		margin-top: 1.2rem;
		margin-left: 0.5rem;
	}
	
	.product__column-right {
		width: 100%;
	}
	
	.product__img {
		position: relative;
		margin: 1.3rem auto 0;
	}
	
	.product__gallery {
		width: 100%;
		padding: 0;
		margin-top: 2rem;
		flex-wrap: wrap
		justify-content: center
	}
	
	.product__gallery .gallery__item {
		margin: 0.6rem
	}
	
	.product__form {
		margin: 1.25rem auto 0;
		padding: 0;
		width: 100%
		max-width: rem(280)
	}
	
	.order-form {
		flex-direction: column
		
		input {
			margin-right: 0
			margin-bottom: 0.7rem
		}
		
		button {
			margin: 0.6rem auto 0;
		}
	}
	
	.product__footnote {
		text-align: center;
		margin-top: 1.2rem;
	}
	
	.review__decor-3, .review__decor-4 {
		display: none
	}
	
	.review:before {
		width: 15.32rem;
	}
	
	.review {
		padding: 2.6rem 0 2rem;
	}
	
	.review__wrap {
		padding: 0;
		width: 100%
		max-width: rem(680)
		margin: 0rem auto 0
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	}
	
	.review__slider {
		margin-top: 1.5rem
		
		.swiper-slide {
		}
	}
	
	.review__item {
		margin-bottom: 1.2rem;
		width: 49%
	}
	
	.review__button-prev {
		top: auto;
		bottom: -3rem;
		left: 1.5rem;
	}
	
	.review__button-next {
		top: auto;
		bottom: -3rem;
		left: auto;
		right: 1.6rem;
	}
	
	.leave-feedback {
		text-align: right;
		margin-top: 4.4rem;
		position: relative;
		top: auto;
		right: auto
	}
	
	.bottom-info:before {
		width: 15.32rem;
	}
	
	.bottom-info .wrapper:before {
		width: rem(411)
		background-size: 100%;
		height: 52.94rem;
		top: 25.5rem;
		left: -0.1rem;
	}
	
	.bottom-info__wrap {
		flex-direction: column
	}
	
	.bottom-info {
		padding: 0.4rem 0 2.45rem
	}
	
	.bottom-info__column-right {
		position: absolute
		top: 17rem;
		left: 0;
	}
	
	.bottom-info__sale {
		position: absolute;
		top: -3.3rem;
		right: auto;
		left: 0.7rem;
	}
	
	.bottom-info__img {
		margin: 0.2rem auto 0;
		position: relative
		z-index: 1
	}
	
	.bottom-info__logo {
		position: absolute;
		top: -5rem;
		right: auto;
		left:50%;
		transform translate(-50%,0)
	}
	.bottom-info__logo-svg {
		width: 28.38rem;
		height: 31rem;
	}
	.bottom-info__footnote {
		margin-top: 31.3rem
	}
	
	.bottom-info__discount-btn {
		margin-top: 1.2rem
		display: flex
		justify-content: center
		align-items: center
	}
	.bottom-info__decor-1 {
		top: -0.4rem;
		right: auto;
		left: -0.5rem;
	}
	.bottom-info__decor-2 {
		top: 18.2rem;
		right: auto;
		left: 0.8rem;
	}
	.create {
		margin-top: 2.6rem;
		text-align: center;
	}
}
